body{
	margin: 0;
	padding: 0;

}
.slider{
	align-content: center;
	width: 400px;
	height: 200px;
	background : url(9.jpg);
	background-repeat:no-repeat ;
	margin: 100px auto;
	animation: slide 20s infinite;
}

@keyframes slide
{
	20%{
		background : url(9.jpg);
		background-repeat:no-repeat ;
	}
	40%{
		background : url(4.jpg);
		background-repeat:no-repeat ;
	}
	60%{
		background : url(7.jpg);
		background-repeat:no-repeat ;
	}
	80%{
		background : url(6.jpg);
		background-repeat:no-repeat ;
	}
	100%{
		background : url(2.jpg);
		background-repeat:no-repeat ;
	}

}